@model CalculoDeSalario.Models.People

@{
    ViewData["Title"] = "Details";
}

<style>
    .img-thumbnail{
        width: 300px;
        height: 240px;
    }

    .h4{
        text-align: center
    }

    .col-md-1{
        margin-left: 40px
    }

    .paragrafo{
        text-align: right
    }

    .titulo{
        text-align: center;
        margin-top: 20px;
    }

    .descricao{
        text-align: center;
    }
</style>

<div class="row">
<div class="col-md-12">
<h4 class="titulo">Detalhes do Funcionário @Model.Name</h4>

</div>
        <p style="text-align: right; padding-left: 120px">Setor: @Model.Cargo.NomeCargo | Valor Hora: @Model.Cargo.ValueHour</p>
</div>


<div>
    <hr />
    <dl class="row">
        <div class="col-md-4">
            <img class="img-thumbnail" src="~/images/@Model.PictureSource" alt="erro">
            <br/>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a> |
                <a type="button" asp-action="Delete" class="btn btn-danger" asp-route-id="@Model?.Id">Remover</a> |
                <a asp-action="Index" class="btn btn-light">Back to List</a>

        </div>
        <div class="col-md-7">
            <p class="descricao">Descrição do Cargo:</p>
            <hr/>

            <p class="paragrafo">@Model.Cargo.DescricaoCargo</p>

        </div>


    </dl>
</div>

